#Configure the following variables
#rename to .plexpy_userhistory.ini
#move to $HOME
#if diff directory, update script file

#input your ip and port
ipaddress="<PLEXPY IP>"
port="<PLEXPY Port>"

# Input your PlexPy API key
plexpyapi="<PLEXPY API KEY>"
