#Configure the following variables
#rename to .tautulli_userhistory.ini
#move to $HOME
#if diff directory, update script file

#input your ip and port
ipaddress="<PLEXPY IP>"
port="<PLEXPY Port>"

# Input your Tautulli API key
tautulliapi="<PLEXPY API KEY>"
